.root {
    -fx-background-color: RGB(230, 210, 170);
}

.headerBox {
    -fx-alignment: center;
    -fx-align: center;
}

.welcomeText {
    -fx-font-size: 20.0;
    -fx-text-align: center;
    -fx-text-alignment: center;
    -fx-label-padding: 20.0;
    -fx-alignment: center;
}

.buttonBox {
    -fx-spacing: 10.0;
}

.fillerBtn {
    -fx-background-color: none;
}




.boardBtn {
    -fx-border-radius: 0;
    -fx-border-color: RGB(170, 160, 120);
    -fx-cursor: hand;
    -fx-background-color: RGB(190, 180, 140);
    -fx-font-weight: bold;
    -fx-shape: "M17.32050807568877 0L34.64101615137754 10L34.64101615137754 30L17.32050807568877 40L0 30L0 10Z";
}

.boardBtn:hover {
    -fx-background-color: RGB(180, 170, 130);
}

.boardBtnX {
    -fx-text-fill: blue;
    -fx-background-color:rgb(91, 165, 229);
}

.boardBtnX:hover {
    -fx-background-color:rgb(71, 145, 209);
}

.boardBtnO {
    -fx-text-fill: red;
    -fx-background-color: rgb(277, 144, 144);
}

.boardBtnO:hover {
    -fx-background-color: rgb(247, 124, 124);
}

.winBtn {
    -fx-background-color: rgb(124, 255, 127);
    -fx-text-fill: rgb(64, 195, 67);
}